<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div th:replace="header :: head"></div>
<div id="wrapper" class="toggled">
    <div th:replace="navbar :: nav"></div>
</div>
<div class="container" id="page-content-wrapper">
    <div class="row">
        <div class="col-xs-6 container-fluid">
            <h1>Registro de actores</h1>
            <ul>
                <form action="#" th:action="@{/actors}" th:object="${actor}" method="post">
                    <p>Nombre completo: <input type="text" th:field="*{name}"/></p>
                    <p>Fecha de nacimiento: <input type="date" th:field="*{dateOfBirth}" /></p>
                    <p>Genero:
                        <select id="genero" th:field="*{gender}" >
                            <div th:each="entry,status : ${generos}">
                                <option th:value="${entry.key}" th:text="${entry.value}"/>
                            </div>
                        </select>
                    </p>
                    <p>Altura: <input type="text" th:field="*{height}" /></p>
                    <p>Color de ojos: <input type="text" th:field="*{eyeColor}" /></p>
                    <p>Color de pelo: <input type="text" th:field="*{hairColor}" /></p>
                    <p>Contextura: <input type="text" th:field="*{built}" /></p>
                    <p><input type="submit" value="Registrar" /></p>
                </form>
            </ul>
        </div>
    </div>


</div>
</body>
</html>