
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div id="header" th:fragment="head">
    <nav  class="navbar navbar-expand navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link"  th:href="@{/home}">Home <span class="sr-only">(current)</span></a> </li>
            </ul>
            <form class="form-inline my-2 my-md-0"> </form>
        </div>
    </nav>
</div>

</body>
</html>