<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div th:replace="header :: head"></div>

<div id="wrapper" class="toggled">
    <div th:replace="navbar :: nav"></div>

    <!--     Sidebar
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a th:href="@{/actors}">Registrar Actores</a> </li>
                <li> <a th:href="@{/writers}">Registrar Guinistas</a> </li>
                <li> <a th:href="@{/scripts}">Registrar Guiones</a> </li>

            </ul>
        </div>  /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>Pomponio Productions Admin Page</h1>
            <p>Su centro de referencia para el manejo y control de Pomponio Productions LLC.</p>
        </div>
    </div> <!-- /#page-content-wrapper -->
</div> <!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script> <!-- Menu Toggle Script -->
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
</html>