<!doctype html >
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guiones</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div th:replace="header :: head"></div>
<div id="wrapper" class="toggled">
    <div th:replace="navbar :: nav"></div>
</div>
<div id="page-content-wrapper">

        <div class="col-xs-6 container-fluid">
            <h1>Registro de guiones</h1>
            <form action="#" th:action="@{/scripts}" th:object="${script}" method="post">
                <p>Nombre: <input type="text" th:field="*{name}"/></p>
                <p>Genero:
                    <select id="genero" th:field="*{genre}" >
                        <div th:each="entry,status : ${generos}">
                            <option th:value="${entry.key}" th:text="${entry.value}"/>
                        </div>
                    </select>
                </p>
                <p>Idea central: <input type="text" th:field="*{plot}" /></p>
                <p>Guionista:
                    <select id="writer" th:field="*{writer.id}" >
                        <div th:each="entry,status : ${writers}">
                            <option th:value="${entry.id}" th:text="${entry.name}"/>
                        </div>
                    </select>

                </p>
                <p><input type="submit" value="Registrar" /></p>
            </form>


        </div>
    </ul>

</div>
</body>
</html>