<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de guiones</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="header :: head"></div>
<div id="wrapper" class="toggled">
    <div th:replace="navbar :: nav"></div>
</div>
<div class="container" id="page-content-wrapper">
    <div class="row">
        <div class="container-fluid col-xs-6" >
            <h1>Listado de guiones</h1>
            <form action="#" th:action="@{/findScript/genre}" th:object="${formView}" method="post">
                <p>Genero:
                    <select id="genero" th:field="*{values}" >
                        <div th:each="entry,status : ${generos}">
                            <option th:value="${entry.key}" th:text="${entry.value}"/>
                        </div>
                    </select>
                <p><input type="submit" value="Buscar"/></p>
                </p>

            </form>
            <form action="#" th:action="@{/findScript/name}" th:object="${formView}" method="post">
                <p>Nombre:
                    <input type="text" th:field="*{values}" />
                <p><input type="submit" value="Buscar"/></p>
                </p>

            </form>
            <div th:each="entry,status : ${scripts}">
                <ul>
                <li>
                    <h5><span th:text="${entry.name}">Nombre:</span>
                    </h5>
                    <p> Género:<span th:text="${entry.genre}">Genero</span> </small>
                    </p>
                    <p> Idea Central:<span th:text="${entry.plot}">Genero</span> </small>
                    </p>
                    <p> Guionista:<span th:text="${entry.writer}">Guionista</span> </small>
                    </p>
                </li>

                </ul>

            </div>
        </div>

    </div>


</div>
</body>
</html>