<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guionistas</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div th:replace="header :: head"></div>
<div id="wrapper" class="toggled">
    <div th:replace="navbar :: nav"></div>
</div>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1>Registro de guionistas</h1>
        <ul>
            <form action="#" th:action="@{/writers}" th:object="${writer}" method="post">
                <p>Nombre: <input type="text" th:field="*{name}"/></p>
                <p>Fecha de nacimiento: <input type="date" th:field="*{dateOfBirth}" /></p>
                <p>Direccion: <input type="text" th:field="*{address}" /></p>
                <p>Email: <input type="text" th:field="*{email}" /></p>
                <p><input type="submit" value="Registrar" /></p>
            </form>

        </ul>
    </div>
    <div th:each="entry,status : ${writers}">
        <li>
            <h4>
                <span th:text="${entry.name}">Nombre</span>
            </h4>
            <p>
                <small><i></i> <span
                        th:text="${entry.address}">Direccion</span> </small>
            </p>
            <p>
                <span th:text="${entry.email}">Email</span>
            </p>
        </li>
    </div>


</div>
</body>
</html>